body{
    cursor: url('') 16 16, auto; /* Reemplaza con tu imagen */

}
        /* Fondo de la página con imagen difuminada */
        body::before {
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: url('../Posters/FONDOHDA.jpg') no-repeat center center;
            background-size: cover;
            z-index: -1; /* Asegura que la imagen esté detrás del contenido */
            font-family: 'Poppins', sans-serif; /* Nueva fuente */
        }


.contenido {
    position: relative;
    z-index: 1; /* Asegura que el contenido esté por encima */
    padding: 20px;
    color: white; /* Ajusta el color según el fondo */
}

        /* Fondo de la página con imagen difuminada */
        body::before {
           
            z-index: -1; /* Asegura que la imagen esté detrás del contenido */
            font-family: 'Poppins', sans-serif; /* Nueva fuente */
        }
        .menu {
            position: fixed;
            top: 0;
            left: 0;
            width: 0;
            height: 100%;
            background-color: #f4f4f4;
            background-size: cover;
            background-position: center;
            overflow-x: hidden;
            transition: 0.3s;
            padding-top: 60px;
        }

        /* Enlaces del menú */
        .menu a {
            display: block;
    padding: 15px;
    text-decoration: none;
    font-size: 22px;
    font-family: 'Poppins', sans-serif; /* Nueva fuente */
    color: #000000; /* Color azul oscuro */
    font-weight: 600; /* Hace que el texto resalte */
    transition: 0.2s;
        }

        .menu a:hover {
            background: rgba(255, 0, 0, 0.459);
        }

        /* Botón de abrir/cerrar con imagen */
        .menu-toggle {
            position: fixed;
            top: 5px;
            left: 15px;
            width: 90px; /* Aumenta el tamaño del botón */
            height: 90px; /* Aumenta el tamaño del botón */
            background: url('Caracol.jpeg') no-repeat center;
            background-size: contain;
            border: none;
            cursor: pointer;
            z-index: 10;
        }
        /* Clase para abrir el menú */
        .open {
            width: 20%;
            min-width: 200px;
        }
        .recuadro {
            position:absolute;
            top: 10%;
            left: 50%;
            transform: translate(-50%);
            width: 50%; /* Puedes ajustar el tamaño */
            height: 80%; /* Puedes ajustar el tamaño */
            background-color: rgba(0, 0, 0, 0.5); /* Fondo negro transparente */
            border: 2px solid #fff; /* Borde blanco */
            position: absolute;
            border-radius: 10px;
            margin-top: 3%;        }

            .recuadro2 {
                position:absolute;
                top: 95%;
                left: 50%;
                transform: translate(-50%);
                width: 50%; /* Puedes ajustar el tamaño */
                height: 15%; /* Puedes ajustar el tamaño */
                background-color: rgba(0, 0, 0, 0.5); /* Fondo negro transparente */
                border: 2px solid #fff; /* Borde blanco */
                position: absolute;
                border-radius: 10px;
                margin-top: 3%;    
                }

        .index {
            position:fixed;
            left: 50%;
            top: 0%;
            transform: translate(-50%);
            width: 100%; /* Puedes ajustar el tamaño */
            height: 10%; /* Puedes ajustar el tamaño */
            background-color: rgba(0, 0, 0); 
            border: 2px solid #fff; /* Borde blanco */
            z-index: 5;
        }
          .port{
            position:absolute;
            left: 56.5%;
            transform: translate(-50%);
            padding-bottom: 5%;
            padding-top: 10%;
          }
          .port img {
            width: 70%;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
        }
        /* Contenedor de la imagen */
        .image-container {
            position: relative;
            width: 100%; /* Ajusta el ancho del contenedor según sea necesario */
            height: auto; /* Ajusta la altura del contenedor según sea necesario */
            text-align: center; /* Centra la imagen horizontalmente */
            overflow: hidden; /* Evita que el borde salga del contenedor */
        }

        /* Imagen con borde blanco */
        .image-container img {
            width: 50%; /* Ajusta el tamaño de la imagen según sea necesario */
            height: auto; /* Mantiene la proporción original de la imagen */
            border: 5px solid #201f1f; /* Borde blanco de 5px de grosor */
            border-radius: 10px; /* Bordes redondeados */
            image-rendering: crisp-edges; /* Mejora la nitidez de la imagen */
            box-shadow: 0 0 10px rgb(0, 0, 0); /* Añade un brillo al borde */
        }


        

        h1 {
            position: fixed;
            left: 50%;
            transform: translate(-50%);
            font-size: 2.5em;
            font-weight: bold;
            text-transform: uppercase;
            display: inline-block;
            color: white;
            padding: 10px 20px; /* Espaciado opcional */
            overflow:hidden;
            z-index: 5;
            margin: 0;
          }
          
          h1::after {
            content: "";
            position: fixed;
            top: 0;
            left: -100%;
            width: 120%;
            height: 100%;
            background: linear-gradient(-75deg, rgba(255, 140, 0, 0) 30%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 140, 0, 0) 70%);
            animation: destello 4s infinite linear;
          }
          
          @keyframes destello {
            0% { left: -100%; }
            100% { left: 100%; }
          }

        p {
            font-size: 0.8em; /* Tamaño de la fuente */
           
            position: relative;
            top: 14%;
            text-align: center;
            width: 60%;
            left: 24%;
            color: whitesmoke;
        }

        /* Contenedor de contenido centrado */
        .content {
            position: relative;
            z-index: 1; /* Asegura que el contenido esté por encima del fondo desenfocado */
            text-align: center;
        }

       

        
        
     

/* Estilo para el iframe independiente */
iframe{
    position:absolute;
    left: 50%;
    transform: translate(-50%);
    top: 60%;
height: 300px;
width: 30%;


}

.flecha{
position: absolute;
left: 55%;
transform: translate(-50%);
transform: rotate(90deg);
top: 90%;
}

.flecha-derecha{
    position: absolute;
    left: 30%;
    transform: translate(-50%);
    transform: rotate(270deg);
    top: 89%;
    }

    .flecha img, .flecha-derecha img {
        width: 300px; /* Mantiene el tamaño de la imagen */
        cursor: pointer;
    }

.image-container2{
    width: 100%;
    height: auto; /* Mantener la proporción de la imagen */
    display: block;
    position: relative; 
}
/* Contenedor del paginador */
.paginador-container {
    width: 100%;
    max-width: 400px;
    margin: 20px auto;
    background-color: #000;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.paginador-container {
    width: 90%;
    max-width: 350px;
    margin: 20px auto;
    background-color: #1a1a1a;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

#temporadas-container {
    margin-top: 10%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

/* Botones de temporada */
.temporada-btn {
    background-color: #333;
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    font-size: 20px;
    text-align: center;
    width: 180px;
    transition: background-color 0.3s ease;
    
}

.temporada-btn:hover {
    background-color: #f5a623;
    color: #000;
}

/* Contenedor de capítulos */
.chapters-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-top: 10px;
    display: none;
}

/* Botones de capítulo */
.chapter-btn {
    display: inline-block;
    text-decoration: none;
    background-color: #444;
    color: #fff;
    padding: 10px 12px;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
    width: 120px;
    text-align: center;
}

.chapter-btn:hover {
    background-color: #f5a623;
    color: #000;
}

::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento */
    height: 8px; /* Altura de la barra de desplazamiento horizontal */
}

::-webkit-scrollbar-track {
    background: #f4f4f4; /* Color del fondo del área de desplazamiento */
}

::-webkit-scrollbar-thumb {
    background-color: #e60000; /* Color rojo neón */
    border-radius: 10px; /* Bordes redondeados */
    border: 2px solid #ff1a1a; /* Borde para el efecto neón */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ff1a1a; /* Rojo más brillante al pasar el cursor */
}

::-webkit-scrollbar-button {
    display: none; /* Oculta los botones de la barra de desplazamiento */
}



footer {
    position: relative;
     text-align: center;
    justify-content: center;
    
    background-color: #1c1c1c;
    color: #ffffff;
    padding: 10px;
    font-size: 15px;
    font-family: 'Arial', sans-serif;
    border-top: 1px solid #444444;
    margin-top: 20px;
    width: 100%;
    height: 80px;
    bottom: 0;
    
    font-size: 10px;
  }
  footer p{
    position: relative;
    text-align: center;
   justify-content: center;
   
  }














/*CSS TELEFONO
  ///////////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////
  ////////////////////////////////////////////////////////////////////////////
  */


  @media (max-width: 768px) {
    body {
        font-family: 'Press Start 2P', cursive; /* Fuente estilo TRON */
        padding: 0; /* Eliminar espacio extra */
        margin: 0;
    }

    /* Fondo de la página con imagen difuminada */
    body::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url('../Imagenesfondos/Fridensfondo.jpeg') no-repeat center center;
        background-size: cover;
        filter: blur(5px); /* Aplica desenfoque solo a la imagen de fondo */
        z-index: -1; /* Asegura que la imagen esté detrás del contenido */
    }
 /* Contenedor de la imagen */
 

/* Imagen con borde blanco */

.image-container {
    position: relative;
    justify-items: center;
}

/* Imagen con borde blanco */
.image-container img {
    
    position: relative;
    justify-items: center;
    left: 0%;
    margin-top: -15%;
    margin-bottom: 30%;
}
   
iframe{
position: relative;
justify-items: center;
    left: 0%;
    height: 70%;
    width: 100%;
}
.video-container iframe {
    position: relative;
    justify-items: center;
        left: 0%;
        height: 100%;
        width: 100%;
        
 }

 .tabs {
    border: 5px solid #333;
    width: 80%;
    background-color: white;
    position: relative;
}

.tab-list {
    position: relative;
    left: 0%;
    display: flex;
    padding: 0;
    margin: 0;
    width:100%;
    list-style: none;
    background-color: #333;
}

.tab {
    padding: 5px 8px;
    cursor: pointer;
    color: white;
    background-color: #333;
}

.tab.active {
    background-color: #666;
}

.tab-content {
    padding: 20px;
}

.tab-panel {
    display: none;
}

.tab-panel.active {
    display: block;
}

 /* Trailer */

 .standalone-video {
    width: 85%;
    margin: 0 auto; /* Centrando el iframe independiente */
}

.standalone-video iframe {
    position: relative;
    justify-items: center;
    left: 0%;
    width: 80%; /* Fijando el tamaño del iframe */
    height: 80%;
    border: 2px solid #333; /* Borde opcional */
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px; /* Aumentada la altura de la barra */
    padding: 0;
    position: relative;
    width: 100%;
    top: -10%;
    left: 0;
    z-index: 9999;
}

.navbar-item {
    position: relative;
    width: 33.33%; /* Cada imagen ocupa un tercio del ancho de la barra */
    height: 100%;
    overflow: hidden;
}

.navbar-item img {
    height: 70%; /* Aumentada la altura de las imágenes */
    width: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
}

.navbar-item h2 {
    position: absolute;
    top: 50%; /* Centrado verticalmente */
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: white;
    font-size: 35px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease;
}

/* Efecto de hover para la imagen y el texto */
.navbar-item:hover img {
    filter: brightness(0.5);
}

.navbar-item:hover h2 {
    color: rgb(221, 150, 84);
}

/* Estilos para los enlaces */
.navbar-item a {
    display: block;
    height: 100%;
    width: 70%;
    text-decoration: none;
}


    .navbar {
        height: 120px; /* Altura ajustada para móviles */
    }

    .navbar-item {
        width: 50%; /* Cada item ocupa la mitad del ancho */
    }

    .navbar-item img {
        height: 55%; /* Ajuste de la altura de la imagen */
    }

    .navbar-item h2 {
        font-size: 15px;
        top: 28%; /* Ajuste para centrar el texto */
    }





footer {
    position: relative;
     text-align: center;
    justify-content: center;
    
    background-color: #1c1c1c;
    color: #ffffff;
    padding: 10px;
    font-size: 10px;
    font-family: 'Arial', sans-serif;
    border-top: 1px solid #444444;
    margin-top: 20px;
    width: 100%;
    height: 80px;
    bottom: 0;
    
    font-size: 10px;
  }
  footer p{
    position: relative;
    text-align: center;
   justify-content: center;
   
  }
  
  .fondo {
    position: fixed;
      width: 400px;
      height: 400px;
    background-image: url('Imagenesfondos/pato.png');
    background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
  }
}