/* Archivo: style.css */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');


body {
  background-color: black;
  color: white;


}

/* Estilos para el encabezado */
header {
  text-align: center;
  padding: 20px;
}

/* Estilos para el h1 */
h1 {
  font-size: 2.5em;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  color: white;
  background: black; /* Fondo completamente negro */
  padding: 10px 20px; /* Espaciado opcional */
  overflow: hidden;
  margin: 0;
}

h1::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 120%;
  height: 100%;
  background: linear-gradient(-75deg, rgba(255, 140, 0, 0) 30%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 140, 0, 0) 70%);
  animation: destello 4s infinite linear;
}

@keyframes destello {
  0% { left: -100%; }
  100% { left: 100%; }
}



/* Estilos para la barra de navegación */
.titulo{
  font-family: tron;

}

/* Contenedor del buscador */
.search-container {
  display: flex; /* Usamos flexbox para alinear los elementos horizontalmente */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Alinea los elementos verticalmente */
  width: 50%; /* El contenedor ocupa el 50% del ancho de la pantalla */
  margin: 20px auto; /* Centrado del contenedor con margen */
}

/* Campo de entrada */
#searchInput {
  flex: 1; /* El campo de búsqueda ocupa todo el espacio disponible */
  padding: 12px;
  font-size: 20px;
  border: 2px solid #ff3333; /* Borde rojo neón */
  border-radius: 8px;
  outline: none;
  background-color: black;
  color: rgb(77, 77, 77);
  box-shadow: 0 0 10px rgba(255, 51, 51, 0.8); /* Sombra de neón */
  transition: all 0.3s ease-in-out;
}

/* Efecto de hover para el input */
#searchInput:hover, #searchInput:focus {
  box-shadow: 0 0 15px rgba(255, 51, 51, 1); /* Aumenta el brillo al hacer hover */
  border-color: #ff3333; /* Borde más brillante */
}
/* Botón de búsqueda */
#searchButton {
  padding: 12px 20px;
  font-size: 20px;
  border: 2px solid #ff3333; /* Borde rojo neón */
  border-radius: 8px;
  background-color: black;
  color: white;
  cursor: pointer;
  margin-left: 10px; /* Espacio entre el input y el botón */
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(255, 51, 51, 0.8); /* Sombra de neón */
  position: relative;
  left: 25px;
  top: 22px;
}

/* Efecto de hover para el botón */
#searchButton:hover {
  background-color: #ff3333;
  box-shadow: 0 0 15px rgba(255, 51, 51, 1); /* Aumenta el brillo al hacer hover */
  border-color: #ff3333;
}
.suggestions-container {
  width: 50%;
  background-color: #000; /* Fondo totalmente negro */
  border: 2px solid red;
  border-radius: 6px; /* Borde ligero circular */
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  z-index: 10;
}

/* Estilo de cada sugerencia */
.suggestion-item {
  display: block;
  padding: 10px;
  font-size: 32px; /* 0.8 veces más grande que antes */
  color: red; /* Letras rojas */
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
  background-color: #000; /* Asegura que cada item también tenga fondo negro */
}

/* Efecto hover en las sugerencias */
.suggestion-item:hover {
  background-color: #111; /* Un negro un poco más claro al pasar el mouse */
  color: #8d1730;; /* Mantiene el color rojo */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px; /* Altura de la barra */
  padding: 0; /* Sin espaciado horizontal */
  position: relative;
  width: 100%;
  top: 10%;
  left: 0;
  z-index: 9999;
}

.navbar-item {
  position: relative;
  width: 33.33%; /* Cada imagen ocupa un tercio del ancho de la barra */
  height: 100%;
  overflow: hidden; /* Asegura que las imágenes no se desborden */
}

.navbar-item img {
  height: 100%; /* Asegura que las imágenes abarquen toda la altura de la barra */
  width: 100%; /* Asegura que las imágenes abarquen todo el ancho de su contenedor */
  object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
  transition: all 0.3s ease; /* Transición suave para el efecto de hover */
}

.navbar-item h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: white;
  font-size: 38px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease; /* Transición suave para el efecto de hover */
}

/* Efecto de hover para la imagen y el texto */
.navbar-item:hover img {
  filter: brightness(0.5); /* Oscurece la imagen al hacer hover */
}

.navbar-item:hover h2 {
  color: rgb(221, 150, 84); /* Cambia el color del texto al hacer hover */
}

/* Estilos para los enlaces */
.navbar-item a {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none; /* Quita el subrayado de los enlaces */
}
alphabet-nav {
    width: 100%;
    margin-top: 10px; /* Agrega margen superior para separación */
    padding: 10px 0;
   
  }
  
  .alphabet-bar {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Permite que las letras se envuelvan en varias líneas si es necesario */
   
  
  }
  
  .alphabet-bar li {
    margin: 15px;
  }
  
  .alphabet-bar a {
    text-decoration: none;
    color: white;
    font-size: 1.4em;
    display: block;
    width: 38px; /* Ancho del cuadrado */
    height: 40px; /* Altura del cuadrado */
    line-height: 40px; /* Alinea verticalmente el texto */
    text-align: center; /* Centra el texto horizontalmente */
    border-radius: 8px; /* Bordes redondeados */
    background-color: #555;
  }
  
  /* Colores de hover diferentes para cada letra */
  .alphabet-bar a:hover {
    background-color: rgb(221, 150, 84);  color: #000000;
  }
  
  
  
  button {
    position: absolute;
    top: 50%;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    transform: translateY(-50%);
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  
  
  .image-gallery {
    display: flex;
    flex-wrap: wrap; /* Permite que las imágenes se ajusten en varias filas */
    justify-content: space-between;
    width: 90%;
    margin: 20px auto;
  }
  
  .image-item {
    width: 18%; /* Ajusta el ancho del contenedor de la imagen y el texto */
  margin-top: 2%;
    
    position: relative; /* Necesario para posicionar la superposición */
  }
  
  .image-item a {
    display: block;
    overflow: hidden;
    border-radius: 15px; /* Bordes redondeados */
    transition: transform 0.3s ease;
  }
  
  .image-item img {
    width: 100%;
    height: 405px; /* Ajusta la altura de las imágenes */
    object-fit: cover; /* Asegura que la imagen cubra el contenedor sin distorsión */
    border-radius: 15px; /* Bordes redondeados */
    display: block;
    transition: transform 0.3s ease;
  }
  
  .image-item a:hover img {
    transform: scale(1.05); /* Agranda la imagen ligeramente al pasar el cursor */
  }
  
  .image-item p {
    text-align: center; /* Centra el texto debajo de la imagen */
    margin: 10px 0 0; /* Margen superior para separar el texto de la imagen */
    color: #fff; /* Color del texto (puedes cambiarlo si es necesario) */
    
  }
  

  
  .pagination-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination {
    display: flex;
    list-style-type: none;
    padding: 0;
  }
  
  .pagination a {
    display: inline-block;
    margin: 0 5px;
    padding: 11.5px 17.25px; /* Aumentado en un 15% */
    border: 1px solid #ddd;
    cursor: pointer;
    border-radius: 5.75px; /* Aumentado en un 15% */
    text-decoration: none;
    color: rgb(221, 150, 84);
    font-size: 1.15em; /* Aumentado en un 15% */
    transition: background-color 0.3s, color 0.3s;
  }
  
  .pagination a:hover {
    background-color: rgb(221, 150, 84);
    color: white;
  }
  
  .pagination a.active {
    background-color: #007bff; /* Color activo azul */
    color: white;
    border-color: #007bff;
  }
  
  .pagination a.inactive {
    cursor: default;
    color: #ddd;
    pointer-events: none;
  }
  
  .pagination a.disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  
  .text-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 10vh;
    background-color: #000000; /* Fondo suave y claro */
    margin-top: 35px;
  }
  
  .text {
    font-size: 38px; /* Tamaño de fuente adecuado */
    color: #ffffff; /* Gris suave como color base */
    text-transform: capitalize;
    letter-spacing: 1px;
    transition: all 0.3s ease;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  .text:hover {
    color: #be0000; /* Cambia a rojo neón */
    text-shadow: 0 0 8px #be0000, 0 0 16px #be0000; /* Efecto de resplandor sutil */
  }
  
  
  footer {
    background-color: #1c1c1c;
    color: #ffffff;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    border-top: 1px solid #444444;
    width: 99%;
    height: 80px;
    bottom: 0;
    position: relative;
    padding-bottom: 50px;
  }
  
  .fondo {
    position: fixed;
      width: 800px;
      height: 800px;
    background-image: url('Imagenesfondos/pato.png');
    background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
  }
/* Estilo para la pantalla de bloqueo */


:root {
  --neon-color: #ff0000; /* Neon pink */
  --background-color: #000000; /* Fondo negro */
  --active-bg-color: #333; /* Fondo gris oscuro para la página activa */
}

/* Estilo base para la paginación */
.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination {
  display: flex;
  gap: 10px;
}

.page-link {
  padding: 10px 15px;
  background-color: black;
  color: #ff0000; /* Rojo neón */
  text-decoration: none;
  border: 2px solid #ff0000; /* Bordes rojos */
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.page-link:hover {
  background-color: #ff0000; /* Rojo neón al pasar el mouse */
  color: black; /* Texto negro al pasar el mouse */
}

.page-link:active {
  transform: scale(0.95); /* Efecto de compresión al hacer clic */
}

.page-link:focus {
  outline: none; /* Elimina el borde por defecto del navegador */
}

.page-link.disabled {
  background-color: #6e0000; /* Fondo gris oscuro */
  color: #ff0000; /* Texto gris */
  pointer-events: none; /* Deshabilita los clics */
  border-color: #6e0000; /* Bordes grises */
}
.index {
  padding: 10px 15px;
  background-color: black;
  color: #ff0000; /* Rojo neón */
  text-decoration: none;
  border: 2px solid #ff0000; /* Bordes rojos */
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.index:hover {
  background-color: #ff0000; /* Rojo neón al pasar el mouse */
  color: black; /* Texto negro al pasar el mouse */
}

.index:active {
  transform: scale(0.95); /* Efecto de compresión al hacer clic */
}

.index:focus {
  outline: none; /* Elimina el borde por defecto del navegador */
}

.index.disabled {
  background-color: #6e0000; /* Fondo gris oscuro */
  color: #ff0000; /* Texto gris */
  pointer-events: none; /* Deshabilita los clics */
  border-color: #6e0000; /* Bordes grises */
}
.arrow {
  display: inline-block;
  padding: 10px;
  background-color: var(--background-color); /* Fondo negro */
  color: var(--neon-color);
  border: 2px solid var(--neon-color); /* Bordes rojos */
  border-radius: 3px; /* Bordes menos redondeados */
  font-size: 18px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.arrow:hover {
  background-color: var(--neon-color);
  color: #fff;
}

.arrow.disabled {
  color: #ccc;
  border-color: #ccc;
  cursor: not-allowed;
}

.arrow.disabled:hover {
  background-color: #fff;
}














































@media only screen and (max-width: 768px) {

/* Archivo: style.css */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');

body {
  background-color: black;
  color: white;
}

/* Estilos para el encabezado */
header {
  text-align: center;
  padding: 20px;
}

/* Estilos para el h1 */
h1 {
  font-size: 2.5em;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  color: white;
  background: black;
  padding: 10px 20px;
  overflow: hidden;
  margin: 0;
}

h1::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 120%;
  height: 100%;
  background: linear-gradient(-75deg, rgba(255, 140, 0, 0) 30%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 140, 0, 0) 70%);
  animation: destello 4s infinite linear;
}

@keyframes destello {
  0% { left: -100%; }
  100% { left: 100%; }
}

/* Estilos para la barra de navegación */
.titulo {
  font-family: tron;
}

/* Contenedor del buscador */
.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 20px auto;
}

/* Campo de entrada */
#searchInput {
  flex: 1;
  padding: 12px;
  font-size: 20px;
  border: 2px solid #ff3333;
  border-radius: 8px;
  outline: none;
  background-color: black;
  color: rgb(77, 77, 77);
  box-shadow: 0 0 10px rgba(255, 51, 51, 0.8);
  transition: all 0.3s ease-in-out;
}

/* Efecto de hover para el input */
#searchInput:hover, #searchInput:focus {
  box-shadow: 0 0 15px rgba(255, 51, 51, 1);
  border-color: #ff3333;
}

/* Botón de búsqueda */
#searchButton {
  padding: 12px 20px;
  font-size: 20px;
  border: 2px solid #ff3333;
  border-radius: 8px;
  background-color: black;
  color: white;
  cursor: pointer;
  margin-left: 10px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(255, 51, 51, 0.8);
}

/* Efecto de hover para el botón */
#searchButton:hover {
  background-color: #ff3333;
  box-shadow: 0 0 15px rgba(255, 51, 51, 1);
  border-color: #ff3333;
}

.suggestions-container {
  width: 50%;
  background-color: #000;
  border: 2px solid red;
  border-radius: 6px;
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  z-index: 10;
}

/* Estilo de cada sugerencia */
.suggestion-item {
  display: block;
  padding: 10px;
  font-size: 32px;
  color: red;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
  background-color: #000;
}

/* Efecto hover en las sugerencias */
.suggestion-item:hover {
  background-color: #111;
  color: #8d1730;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  padding: 0;
  position: relative;
  width: 100%;
  top: 10%;
  left: 0;
  z-index: 9999;
}

.navbar-item {
  position: relative;
  width: 33.33%;
  height: 100%;
  overflow: hidden;
}

.navbar-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 0.3s ease;
}

.navbar-item h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: white;
  font-size: 38px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease;
}

/* Efecto de hover para la imagen y el texto */
.navbar-item:hover img {
  filter: brightness(0.5);
}

.navbar-item:hover h2 {
  color: rgb(221, 150, 84);
}

/* Estilos para los enlaces */
.navbar-item a {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.alphabet-nav {
  width: 100%;
  margin-top: 10px;
  padding: 10px 0;
}

.alphabet-bar {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.alphabet-bar li {
  margin: 15px;
}

.alphabet-bar a {
  text-decoration: none;
  color: white;
  font-size: 1.4em;
  display: block;
  width: 38px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 8px;
  background-color: #555;
}

/* Colores de hover diferentes para cada letra */
.alphabet-bar a:hover {
  background-color: rgb(221, 150, 84);
  color: #000000;
}

button {
  position: absolute;
  top: 50%;
  background-color: rgba(0,0,0,0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 20px;
  transform: translateY(-50%);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

  .image-gallery {
    width: 100%;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
    gap: 0;
  }

  .image-item {
    width: 49.5%;
    margin-bottom: 2%;
    margin-top: 10%;
    position: relative;
    overflow: hidden;
  }

  .image-item a {
    display: block;
    overflow: hidden;
    border-radius: 0;
    transition: transform 0.3s ease;
  }

  .image-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
  }

  .image-item a:hover img {
    transform: scale(1.05);
  }

  .image-item p {
    text-align: center;
    margin: 5px 0 0;
    color: #fff;
  }



.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.pagination a {
  display: inline-block;
  margin: 0 5px;
  padding: 11.5px 17.25px;
  border: 1px solid #ddd;
  cursor: pointer;
  border-radius: 5.75px;
  text-decoration: none;
  color: rgb(221, 150, 84);
  font-size: 1.15em;
  transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
  background-color: rgb(221, 150, 84);
  color: white;
}

.pagination a.active {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}

.pagination a.inactive {
  cursor: default;
  color: #ddd;
  pointer-events: none;
}

.pagination a.disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.text-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 10vh;
  background-color: #000000;
  margin-top: 35px;
}

.text {
  font-size: 38px;
  color: #ffffff;
  text-transform: capitalize;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  padding: 10px 20px;
  border-radius: 5px;
}

.text:hover {
  color: #be0000;
  text-shadow: 0 0 8px #be0000, 0 0 16px #be0000;
}

footer {
  background-color: #1c1c1c;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  font-size: 18px;
  font-family: 'Arial', sans-serif;
  border-top: 1px solid #444444;
  width: 99%;
  height: 80px;
  bottom: 0;
  position: relative;
  padding-bottom: 50px;
}

.fondo {
  position: fixed;
  width: 800px;
  height: 800px;
  background-image: url('Imagenesfondos/pato.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/* Estilo para la pantalla de bloqueo */

:root {
  --neon-color: #ff0000;
  --background-color: #000000;
  --active-bg-color: #333;
}

/* Estilo base para la paginación */
.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination {
  display: flex;
  gap: 10px;
}

.page-link {
  padding: 10px 15px;
  background-color: black;
  color: #ff0000;
  text-decoration: none;
  border: 2px solid #ff0000;
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.page-link:hover {
  background-color: #ff0000;
  color: black;
}

.page-link:active {
  transform: scale(0.95);
}

.page-link:focus {
  outline: none;
}

.page-link.disabled {
  background-color: #6e0000;
  color: #ff0000;
  pointer-events: none;
  border-color: #6e0000;
}

.index {
  padding: 10px 15px;
  background-color: black;
  color: #ff0000;
  text-decoration: none;
  border: 2px solid #ff0000;
  font-weight: bold;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.index:hover {
  background-color: #ff0000;
  color: black;
}

.index:active {
  transform: scale(0.95);
}

.index:focus {
  outline: none;
}

.index.disabled {
  background-color: #6e0000;
  color: #ff0000;
  pointer-events: none;
  border-color: #6e0000;
}

.arrow {
  display: inline-block;
  padding: 10px;
  background-color: var(--background-color);
  color: var(--neon-color);
  border: 2px solid var(--neon-color);
  border-radius: 3px;
  font-size: 18px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.arrow:hover {
  background-color: var(--neon-color);
  color: #fff;
}

.arrow.disabled {
  color: #ccc;
  border-color: #ccc;
  cursor: not-allowed;
}

.arrow.disabled:hover {
  background-color: #fff;
}

/* Media Queries para móvil */

  /* Ajustes para el encabezado */
  h1 {
    font-size: 1.8em;
    padding: 8px 16px;
  }

  /* Ajustes para el buscador */
  .search-container {
    width: 90%;
  }

  #searchInput {
    font-size: 16px;
    padding: 10px;
  }

  #searchButton {
    font-size: 16px;
    padding: 10px 15px;
  }



  /* Ajustes para la barra de navegación */
  .navbar {
    height: 80px;
  }

  .navbar-item h2 {
    font-size: 24px;
  }

  /* Ajustes para el texto */
  .text {
    font-size: 24px;
  }

  /* Ajustes para el footer */
  footer {
    font-size: 14px;
    height: 60px;
  }
}